:root {
  --transition-main: .175, .685, .32;
}



/* --------- */
/* Footer */
/* --------- */
.footer {
  /* extra */
}



/* ------------- */
/* Profile Photo */
/* ------------- */
/* src/components/ProfilePhoto.css */
.profile-photo-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.profile-photo {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  /* height: auto; */
  border-radius: 50%;
  object-fit: cover;
  /* border: 4px solid #2d2d2d;  */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  */
  transition: transform 0.3s ease;
  padding: 5px;
  background: linear-gradient(135deg, #0069c0 0%, #7f00b2 100%);
  background-size: 200% 200%;
  transition: all 0.8s ease;
}

.profile-photo:hover {
  transform: scale(1.05);
  /* background: linear-gradient(135deg, #7f00b2 0%, #0069c0 100%); */
  background-position: 100% 0%;
}

.particles {
  position: fixed;
  width: 100%;
  z-index: -999;
}

/* --------- */
/* Navbar Section  */
/* --------- */

/* Estilos para escritorio */
@media (min-width: 768px) {
  .nav-bar {
    top: 0;
    padding: 0;
    width: 5%;
    height: 100vh;
    position: fixed;
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
  }

  .nav-bar:hover {
    width: 16em;
  }

  .content {
    width: 100%;
    padding-left: 5%;
    flex: 1;
  }
}


/* Estilos para móvil */
@media (max-width: 767px) {
  .nav-bar {
    top: 0;
    padding: 0;
    width: 10%;
    height: 100vh;
    position: fixed;
    transition: width .35s cubic-bezier(var(--transition-main), 1);
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000;
  }

  .nav-bar:hover {
    width: 50%;
  }

  .content {
    width: 100%;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}

.nav-bar:hover .nav-bar-link-text {
  width: calc(100% - calc(5rem - 8px));
  opacity: 1;
}

.nav-bar-link {
  padding: 1em 0;
  width: 100%;
  position: relative;
  /* color: hsl(var(--color-gray)); */
  border-radius: .25em;
  text-decoration: none;
  transition: all .2s cubic-bezier(var(--transition-main), 1);
}

.nav-bar-link:hover {
  /* color: hsl(var(--color-gray-light)); */
  /* background: hsl(var(--color-tertiary-light)); */
  box-shadow: 0 17px 30px -10px hsla(var(--black), .25);
}

.nav-bar-link-text {
  margin: 0;
  width: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .35s cubic-bezier(var(--transition-main), 1);
  overflow: hidden;
  opacity: 0;
}

/* .App {
  position: relative;
  z-index: 0;
} */